@{
    ViewData["Title"] = "Home";
}

<h2>Welcome to Yummy Cookbook!</h2>

<p>This is the home page of our cookbook application. Click the button below to view recipes.</p>

<a asp-controller="Recipe" asp-action="Index" class="btn btn-primary">View Recipes</a>
